:root {
  /* normal */
  --grey: #C1C1C1;
  
  /* fire */
  --orange: #FA8E2E;
  
  /* water */
  --blue: #509DFF;
 
  /* electric */
  --yellow: #FFD92D;
  
  /* grass */
  --green: #B0FED8;

  /* ice */
  --light-blue: #B9DFFA;

  /* fighting */
  --red: #FF6250;

  /* poison */
  --purple: #CD99E1;


  --font-color: #000;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1 {
  color: var(--font-color);
  font-size: 40px;
  line-height: 0.5;
  text-align: center
}

h2 {
  color: var(--font-color);
  font-size: 24px;
  font-weight: var(--font-bold);
  text-align: center;
}

.btn {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--blue);
  font-weight: var(--font-bold);
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  margin: 2px;
}

  .btn:hover,
  .btn:focus {
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: var(--yellow);
  }

  /* ------------------------ Modal Style ------------------------ */
  


  .modal-dialog {
    padding: 20px;
    box-sizing: border-box;
    overflow: auto; 
    display: grid;
    text-align: center;
  }
  
  .modal-content {
    margin: 10px;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    border: 5px solid var(--green);
    max-width: 500px;
    justify-content: center;
    border-radius: 25px;
    
  }
  

  .pokemon-img {
    width: 250px;
  }
  
  .modal h1 {
    margin-top: 0;
    text-transform: capitalize;
  }
  
  .modal p {
    margin-bottom: 0;
    text-transform: capitalize;
  }