:root {
  --red: #f81c1c;
  --normal: #C1C1C1;
  --fire: #FA8E2E;
  --water: #509DFF;
  --grass: #B0FED8;
  --electric: #FFD92D;
  --ice: #B9DFFA;
  --fighting: #FF6250;
  --poison: #A33EA1;
  --ground: #E2BF65;
  --flying: #A98FF3;
  --psychic: #F95587;
  --bug: #A6B91A;
  --rock: #B2A061;
  --ghost: #735797;
  --dark: #000033;
  --dragon: #6F35FC;
  --steel: #B7B7CE;
  --fairy: #D685AD;

  --font-color: #000;
  --font-normal: 400;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: var(--font-color);
  font-size: 2.5rem;
  font-weight: var(--font-bold);
  line-height: 0.5;
}

p {
  font-weight: var(--font-normal);
}

body {
  background-image: linear-gradient(var(--grass), var(--water));
  background-repeat: no-repeat;
}

.container {
  position: relative;
  margin-top: 6rem;
}

.container-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.8rem;
  margin-bottom: 0.65rem;
}

.pokemon-list {
  min-height: 100vh;
}

#search-bar {
  font-weight: var(--font-normal);
  padding: 0.65rem;
  border: 0.07rem solid #000;
  width: 15.6rem;
  background: #fff;
}

.list-group-item {
  border: none;
  background: none;
}

.btn {
  background-color: var(--red);
  border-radius: 0.65rem;
  padding: 1.25rem;
  font-weight: var(--font-bold);
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  color: #fff;
  border: solid 0.25rem #000;
}

  .btn:hover,
  .btn:focus {
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: var(--electric);
  }

.pokemon-left,
.pokemon-right {
  position: fixed;
  bottom: 0;
  max-width: 45rem;
  padding: 1.25rem;
}

.pokemon-left {
  left: 0;
}

.pokemon-right {
  right: 0;
  }

  /* ------------------------ Background Colors ------------------------ */

.normal-bg {
  border: 0.5rem solid var(--normal);
}

.fire-bg {
  border: 0.5rem solid var(--fire);
}

.water-bg {
  border: 0.5rem solid var(--water);
}

.grass-bg {
  border: 0.5rem solid var(--grass);
}

.electric-bg {
  border: 0.5rem solid var(--electric);
}

.ice-bg {
  border: 0.5rem solid var(--ice);
}

.fighting-bg {
  border: 0.5rem solid var(--fighting);
}

.poison-bg {
  border: 0.5rem solid var(--poison);
}

.ground-bg {
  border: 0.5rem solid var(--ground);
}

.flying-bg {
  border: 0.5rem solid var(--flying);
}

.psychic-bg {
  border: 0.5rem solid var(--psychic);
}

.bug-bg {
  border: 0.5rem solid var(--bug);
}

.rock-bg {
  border: 0.5rem solid var(--rock);
}

.ghost-bg {
   border: 0.5rem solid var(--ghost);
}

.dark-bg {
  border: 0.5rem solid var(--dark);
}

.dragon-bg {
   border: 0.5rem solid var(--dragon);
}

.steel-bg {
  border: 0.5rem solid var(--steel);
}

.fairy-bg {
  border: 0.5rem solid var(--fairy);
}

  /* ------------------------ Modal Style ------------------------ */
  
.modal-content {
  margin: 0.65rem;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 1rem;
  width: 100%;
  max-width: 31rem;
  border-radius: 1.5rem;
}

.modal-header {
  display: block;
  text-transform: capitalize;
}
  
.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 18.75rem;
}

.modal p {
  justify-content: left;
  margin-bottom: 0;
  text-transform: capitalize;
}

  /* ------------------------ Media Queries ------------------------ */
  
@media all and (min-width: 500px) and (max-width: 750px) {
  .navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .d-flex {
    display: block;
    text-align: center;
    margin: 2% auto;
    margin-left: auto;
    margin-right: auto;
  }

  .pokemon-left {
    display: none;
  }
  
  .pokemon-right {
    display: none;
  }

  body {
    display: none;
  }

  .container-header {
    width: 80%;
    margin-top: 5.3rem;
  }
}
  
@media all and (max-width: 705px) {
  .navbar-brand {
    display: block;
  }

 .d-flex {
    display: block;
    text-align: center;
    margin: 2% auto;
    margin-left: auto;
    margin-right: auto;
  }

  .pokemon-imgs {
     display: none;
  }

  body {
    display: none;
    background-image: none;
  }

  .container-header {
    width: 80%;
    margin-top: 5.3rem;
  }
}